<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.cathalcoffey.android.projecteuler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="ie.cathalcoffey.android.projecteuler.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service android:enabled="true" android:process=":my_process" android:name=".ExampleService" />
        
        <activity
            android:name=".ProblemList"
            android:label="@string/app_name"
            android:theme="@style/Holo.Theme.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EulerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        <activity
            android:name="ie.cathalcoffey.android.projecteuler.LoginLogout"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
    </application>
</manifest>